<!DOCTYPE html>
<html>
<head>
	<title>
		Percy
	</title>
</head>
<body>
{% include 'head.html.jinja' %}

<h2>Add Transaction</h2>
<form name="addtx" action="/display/Daddtx_results/", method="post">
	Transaction To Add : 
	<input type="text" name="txid">
	<input type="submit" value="add">
</form>

{% include 'footer.html.jinja' %}

</body>
</html> 
