<!DOCTYPE html>
<html>
<head>
	<title>
		Percy
	</title>
</head>
<body>
{% include 'head.html.jinja' %}

{% if gotdata["txdata"] == True %}
	<h1>Transaction {{ data["data"]["info"]["txid"] }}</h1>

	<h2>Transaction Data</h2>
  <h3>Meta</h3>
	<table>
	<tr>
	<th>Item</th>
	<th>Value</th>
	</tr>
	<tr>
	<td>ID</td>
	<td>{{ data["data"]["info"]["id"] }}</td>
	</tr>
	<tr>
	<td>Is Active</td>
	<td>{{ data["data"]["info"]["active"] }}</td>
	</tr>
	<tr>
	<td>TXID</td>
	<td>{{ data["data"]["info"]["txid"] }}</td>
	</tr>
	<tr>
	<td>Frist Seen</td>
	<td>{{ data["data"]["info"]["firstSeen"] }}</td>
	</tr>
	<tr>
	<td>Last Checked</td>
	<td>{{ data["data"]["info"]["lastchecked"]|default("Not Yet Checked")  }}</td>
	</tr>
	</table>

	<h3>Transaction Hex</h3>
	<pre>
  <code>
	{{ data["data"]["info"]["hextx"] }}
	</code>
	</pre>
	<h3>Attempts</h3>
  {% if gotdata["attemptsdata"] == True %}
		<table>
		<tr>
		<th>ID</th>
		<th>checkdate</th>
		<th>result</th>
		</tr>
		{% for attempt in attempts["data"]["data"] %}
		<tr>
		<td>{{ attempt["id"] }}</td>
		<td>{{ attempt["attributes"]["checkdate"]}}</td>
		<td>{{ attempt["attributes"]["result"] }}</td>
		</tr>
		{% endfor %}

		</table>
	{% else %}
		<p>No transactions recorded. Check back Later.</p>
	{% endif %}
	<h2>Watch Transaction</h2>
	<form name="watchtx" action="/display/Dwatchtx_results/?txid={{ data["data"]["info"]["txid"] }}", method="post">
		Your Email : 
		<input type="text" name="email">
		<input type="submit" value="add">
	</form>
  <h2>External References</h2>
	<p>View on <a href='https://blockchain.info/tx/{{ data["data"]["info"]["txid"] }}'>Blockchain.info Block Explorer</a></p>
	<h2>Remove Transaction</h2>
	<form name="removetx" action="/display/Dremovetx_results/?txid={{ data["data"]["info"]["txid"] }}", method="post">
		Remove String
		<input type="text" name="confirmstring">
		<input type="submit" value="add">
	</form>
{% else %}
  <h2>Untracked Transaction</h2>
	<p>Transaction Not Found.</p>
{% endif %}
{% include 'footer.html.jinja' %}

</body>
</html> 
