<!-- Base footer Templates Go Here. -->

<footer>
<hr>
		<div class="advertisement">
		<iframe data-aa='524616' src='//ad.a-ads.com/524616?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
		<iframe data-aa='524616' src='//ad.a-ads.com/524616?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
		<iframe data-aa='524616' src='//ad.a-ads.com/524616?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-100108322-1', 'auto');
			ga('send', 'pageview');
		</script>
		</div>
		<div class="site-info">
<p>Copyright 2017</p>
<p>Code Available Under <a href="https://github.com/chalbersma/persist_transaction/blob/master/LICENSE">GPL3</a></p>
		</div>
</footer> 
