<!-- Base footer Templates Go Here. -->

<footer>
<hr>
		<div class="advertisement">
		<iframe data-aa='524616' src='//ad.a-ads.com/524616?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
		<iframe data-aa='524616' src='//ad.a-ads.com/524616?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
		</div>
		<div class="site-info">
<p>Copyright 2017</p>
<p>Code Available Under <a href="https://github.com/chalbersma/persist_transaction/blob/master/LICENSE">GPL3</a></p>
		</div>
</footer> 
