<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}" >
<header>
	<h1>Percy</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/display/Dtxlist/">Active Transaction List</a></li>
			<li><a href="/display/Daddtx/">Add A Transaction</a></li>
			<li><a href="/display/Dwhy">Why?</a></li>
			<li><a href="/display/Dhowto">Howto Use</a></li>
		</ul>
	</nav>
</header>
